
<div class="container">

    <div class="centerfold">
      <%= image_tag("3drinks.jpg", :class => "big-img img-rounded") %>
    </div>
    
    <%= render @posts %>
    <br>
    <div id="contact">
      <h2>Contact the Blog!</h2>
      <div class="contact-section">
        <p> If you're interested in what we do here, give us a jingle!</p>
        <p> Phone: 555-874-9999 </p>
        <p> (This line available only on Mondays from 2-3 am) </p>
      </div>
    </div>
</div>
